{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<br>
<div style="text-align: center;">
    <a href="{%url 'urlnamehome' %}"><img src="{% static 'images/로그인로고.jpg' %}" width="30%"></a>
</div>
<br>
<br>
    <div style="text-align: center;">
        {% if messages %}
        {% for m in messages %}
            <div style="text-align: center; color: red;">
                <strong>{{m.message}}</strong><br>
            </div>
        {% endfor %}
    {% endif %}
        <form action="{%url 'urlnamesignup'%}" method="POST">
        {% csrf_token %}
            {{views_signup_form.as_p}}
            <div style="color:red;">
                <br>**전화번호는 아래와 같은 형식으로 가입 부탁드립니다. <br>
                전화번호가 010-1234-1234인 경우에 -> +821012341234 <br><br>
            </div>
            <button type="submit" class="btn btn-warning">회원가입</button>
        </form>
        
    </div>
{% endblock %}