{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div style="text-align: center;">
        <form action="{% url 'urlnamenew' %}" method="POST">
        {% csrf_token %}
        <h2>지원서 작성</h2><br>

        <div style="text-align: left; width: 12%; text-indent: .3em;">
            <label for="formGroupExampleInput" class="form-label">이름</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="htmlname" value = "{{user.name}}" readonly>
        </div><br>
        <div style="text-align: left; width: 12%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">학번</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="htmlstudent_id" value = "{{user.student_id}}" readonly>
        </div><br>
        <div style="text-align: left; width: 12%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">학과</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="htmlmajor" value = "{{user.major}}" readonly>
        </div><br>
        <div style="text-align: left; width: 90%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">q1</label><br>
            <textarea name="htmlq1" id="" cols="100" rows="10"></textarea><br>       
        </div><br>
        <div style="text-align: left; width: 90%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">q2</label><br>
            <textarea name="htmlq2" id="" cols="100" rows="10"></textarea><br>       
        </div><br>
        <div style="text-align: left; width: 90%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">q3</label><br>
            <textarea name="htmlq3" id="" cols="100" rows="10"></textarea><br>       
        </div><br>
        <div style="text-align: left; width: 90%; text-indent: .3em;">
            <label for="formGroupExampleInput2" class="form-label">q4</label><br>
            <textarea name="htmlq4" id="" cols="100" rows="10"></textarea><br>       
        </div><br>
        <button type="submit" class="btn btn-warning">제출하기</button>
        <br>
    </form>
    </div>
    <br>
    {% endif %}
{% endblock %}